html,
body {
    font-family: 'Lato', sans-serif;
    color: white;
    font-weight: 400;
    margin: 0px;
    min-height: 100%;
    height: 100%;
}
.container {
    margin-top: 2px;
    box-shadow: 0 0 25px 1px rgba(31, 73, 125, 0.3);
    border: 1px solid rgba(31, 73, 125, 0.3);
    height: 100%;
}
.header {
    height: 70px;
    padding: 10px;
    background: rgb(19, 19, 19);
    /* Old browsers */

    background: -moz-linear-gradient(left, rgba(19, 19, 19, 1) 0%, rgba(17, 17, 17, 1) 0%, rgba(28, 28, 28, 1) 9%, rgba(43, 43, 43, 1) 24%, rgba(44, 44, 44, 1) 42%, rgba(71, 71, 71, 1) 69%, rgba(89, 89, 89, 1) 88%, rgba(102, 102, 102, 1) 99%, rgba(76, 76, 76, 1) 100%);
    /* FF3.6-15 */

    background: -webkit-linear-gradient(left, rgba(19, 19, 19, 1) 0%, rgba(17, 17, 17, 1) 0%, rgba(28, 28, 28, 1) 9%, rgba(43, 43, 43, 1) 24%, rgba(44, 44, 44, 1) 42%, rgba(71, 71, 71, 1) 69%, rgba(89, 89, 89, 1) 88%, rgba(102, 102, 102, 1) 99%, rgba(76, 76, 76, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */

    background: linear-gradient(to right, rgba(19, 19, 19, 1) 0%, rgba(17, 17, 17, 1) 0%, rgba(28, 28, 28, 1) 9%, rgba(43, 43, 43, 1) 24%, rgba(44, 44, 44, 1) 42%, rgba(71, 71, 71, 1) 69%, rgba(89, 89, 89, 1) 88%, rgba(102, 102, 102, 1) 99%, rgba(76, 76, 76, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
h1 {
    margin-top: 5px;
}
#sidebar-wrapper {
    height: 100%;
}
#sidebar {
    border: 1px solid rgba(31, 73, 125, 0.3);
    height: 100%;
    z-index: 1;
    position: absolute;
    overflow-y: hidden;
}
#search {
    margin: 5px 0px;
    width: 170px;
    color: black;
}
.list-group-item {
    cursor: pointer;
}
.list-group-item: hover {
    background-color: grey;
}
#map {
    height: 100%;
}
#iwbody {
    color: #100;
}
#phoneno {
    color: blue;
}
li {
    color: black;
}
a {
    color: red;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}